/* Grundlegendes Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to left, rgba(125, 125, 255, 125), rgba(51, 51, 51, 255));
  color: #333;
  line-height: 1.6;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, rgba(125, 125, 255, 125), rgba(51, 51, 51, 255));
  padding: 1rem;
  color: white;
  border-color: grey;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Hamburger Menü */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* Quiz */
.quiz-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 1.5rem;
}

.question h3 {
  margin-bottom: 0.5rem;
}

.answers label {
  display: block;
  margin: 0.4rem 0;
}

/* Responsives Menü */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #004080;
  }

  .navbar ul.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}