@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  font-family: Roboto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(90deg in oklab, #21476b, #24425f);;
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 1.5;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(36, 36, 36);
  padding: 1rem;
  color: white;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Hamburger Menü */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* Quiz */
.quiz-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background: rgb(36, 36, 36);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background: rgb(36, 36, 36);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.failed-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background: rgb(36, 36, 36);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.question {
  margin-bottom: 2rem;
}

.question h3 {
  margin-bottom: 0.2rem;
}

.answers label {
  display: block;
  margin: 0.4rem 0;
}

/* Responsives Menü */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 30%;
    background-color: transparent;
    text-align: right;
  }

  .navbar ul.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

footer {
  background-color: rgba(36, 36, 36, 0.75);
  padding: 10px;
  text-align: center;
  color: white;
}

.reset_button {
  background-color: rgb(221, 221, 221);
  border: 0px solid #004080;
  padding: 10px 10px 10px 10px;
  border-radius: 0px;
}

.quizbuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 0px;
  border: 0px solid #004080;
  min-width: 8cm;
}

.quizbuttons:hover {
  background-color: rgb(141, 141, 141);
}